// General

body {
  width: 800px;
  margin: 50px auto;
}

.hidden {
  visibility: hidden;
}

// Select list

.breed-select {
  cursor: pointer;
  position: relative;
}

// Error message

.error {
  font-weight: bolder;
  color: red;
}

// Loader

// .loader {
//   font-weight: bolder;
// }

.loader {
  width: 100px;
  height: 100px;
  border: 10px solid grey;
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
  position: absolute;
  top: 150px;
  left: 700px;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Cat breed content

#cat-info-section {
  display: flex;
  flex-direction: row-reverse;
  gap: 30px;
}

.cat__figure {
  width: 40%;
}

.cat__figure img {
  width: 100%;
}

.cat__content {
  width: 60%;
  margin-top: -20px;
}

.cat__temperament {
  font-weight: bolder;
}
